/* General Styles */

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Styles */

.header {
    background-image: url("https://github.com/Kalvium-Program/kidz-world-html-boilerplate/blob/main/assets/kw-background.png?raw=true");
    background-size: cover;
    color: white;
    height: 500px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.font {
    font-size: 40px;
}

.new {
    font-size: 15px;
}

/* Navigation Styles */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.kidzworld {
    display: flex;
    align-items: center;
}

.cart {
    display: flex;
    align-items: center;
}

.cart img {
    margin-right: 5px;
}

/* Body Styles */

.body {
    padding: 20px;
}

/* Section Styles */

.books, .games, .handmade {
    font-size: 24px;
    margin-top: 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.book, .game, .image {
    flex: 0 0 calc(33.333% - 40px);
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.price {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rgb(74, 148, 231);
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 7px;
}

/* Footer Styles */

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 15px;
    margin-top: 20px;
}

.right {
    position: relative;
    top: 20px;
    margin-bottom: 10px;
}

.left,
.right {
    margin: 10px;
}

.kri {
    border-radius: 50%;
}

.krishti {
    text-align: end;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.krishti1 {
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.left1 {
    padding: 5px;
}

/* Additional Styles */

.name {
    font-size: 16px;
    font-weight: bolder;
}

.info {
    color: gray;
    font-size: 16px;
}

.price1 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 768px) {
    .images {
        flex-direction: column;
        align-items: center;
    }

    .book,
    .game,
    .image {
        flex: 0 0 calc(100% - 20px);
    }
}
